{% load static %}
<html>
    <head>
        <title>Praexisio Astaxy UI Web</title>
    </head>

    <body>
        <div class="bg" style="border:2px purple solid;font-size:13px;background-color:purple;">
            <img src="{% static 'croppedlogo.png' %}" alt="company icon">
            <a href="creatanewtask.html"><button>Create a new task</button></a>
            <a href="presonality.html"><button>Personalität</button></a>
            <a href="logout.html"><button>Log out</button></a>
	    <a href="index.php"><button>[Home]</button></a>
        </div>
    </body>
</html>
